on early-init
    write /sys/module/musb_hdrc/parameters/kernel_init_done 1
    write /sys/class/power_supply/usb/otg_switch 1
    write /sys/class/oplus_chg/usb/otg_switch 1

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0
    setprop vendor.usb.acm_cnt 0
    setprop vendor.usb.acm_enable 0
    setprop vendor.usb.acm_port0 ""
    setprop vendor.usb.acm_port1 ""
    setprop vendor.usb.controller "musb-hdrc"
