import /tee.rc
import /trustonic.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    setprop crypto.ready 1

on fs && property:ro.debuggable=0
    write /sys/class/udc/musb-hdrc/device/cmode 2
    start adbd

on fs
    install_keyring

# We need vold early for metadata encryption
on early-fs
    start vold

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /first_stage_ramdisk/fstab.mt6789 --late

on post-fs
    start boot-hal-1-2

    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b

on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

# FSTAB_RAW2(lk2,bootloader2) of fstab.in.emmc, but without bootloader2 mount point
    symlink /dev/block/by-name/lk1 /dev/block/by-name/bootloader1
    symlink /dev/block/by-name/lk2 /dev/block/by-name/bootloader2

# Fix ro.vendor.mtk_ufs_support remove issue of recovery mode
on property:vendor.mtk.boot0_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot0

on property:vendor.mtk.boot0_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot0

on property:vendor.mtk.boot0_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot0

on property:vendor.mtk.boot1_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot1

on property:vendor.mtk.boot1_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot1

on property:vendor.mtk.boot1_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot1

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

service hal_cryptoeng_oppo /vendor/bin/hw/vendor.oplus.hardware.cryptoeng@1.0-service
    user root
    group root input sdcard_rw sdcard_r
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymint-trustonic /vendor/bin/hw/android.hardware.security.keymint-service.trustonic
    class early_hal
    user nobody
    seclabel u:r:recovery:s0

on property:crypto.ready=1
    start vendor.keymint-trustonic

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start mobicore
    start vendor.gatekeeper-1-0
    start vendor.keymint-trustonic

on property:ro.crypto.state=unsupported
    stop hal_cryptoeng_oppo
    stop mobicore
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-trustonic

on property:ro.crypto.state=unencrypted
    stop hal_cryptoeng_oppo
    stop mobicore
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-trustonic

on property:twrp.decrypt.done=true
    stop hal_cryptoeng_oppo
    stop mobicore
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-trustonic

on property:crypto.ready=0
    stop hal_cryptoeng_oppo
    stop mobicore
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-trustonic

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    mkdir /data/vendor_de/0/cryptoeng 0770 system system

    start health-hal-2-1
    setprop sys.usb.config adb
